*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root{
  --light-gray: rgba(255, 255, 255, 0.7);
  --white: rgba(255, 255, 255, 1);
  --transparent-dark: rgba(18,18,18,.8);
  --text-highlight: rgba(0,0,0,0.9);
  --a-hover: #49b1f5;
}
a{
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color: var(--a-hover);
}
/* 以下内容是对滚动条的美化 */
::-webkit-scrollbar {
  width:9px;
  height:9px;
}
::-webkit-scrollbar-track {
  width: 6px;
  background-color:#ffffff;
  /* -webkit-border-radius: 2em;
  -moz-border-radius: 2em; */
  /* border-radius:2em; */
}
::-webkit-scrollbar-thumb {
  background-color:rgb(30, 30, 30, 0.3);
  background-clip:padding-box;
  min-height:28px;
  /* -webkit-border-radius: 2em;
  -moz-border-radius: 2em; */
  /* border-radius:2em; */
}
blockquote {
  display: block;
  font-size: 100%;
  line-height: 1.5;
  margin: 10px 0;
  padding: 10px;
  background-color: #f5f2f0;
  border-left:8px solid #b4d5ff;
}
.content{
  letter-spacing: 1px;
}
.content h1{
  line-height: 40px;
}
.content h2{
  line-height: 32px;
}
.content h3 h4 h5 h6 h7 h8 p{
  line-height: 28px;
}
.card{
  transition: all 0.2s linear;
  box-shadow: 0 0 9px 0 rgb(30, 30, 30, 0.2);
}
.card:hover{
  box-shadow: 0 0 30px 0 rgb(30, 30, 30, 0.4);
}
.too-long-single-line{
  white-space: nowrap;
  text-overflow: ellipsis;
}
.too-long-multi-line{
  display: -webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}