*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root{
  --light-gray: rgba(255, 255, 255, 0.7);
  --white: rgba(255, 255, 255, 1);
}
a{
  text-decoration: none;
  cursor: pointer;

}
/* 以下内容是对滚动条的美化 */
::-webkit-scrollbar {
  width:9px;
  height:9px;
}
::-webkit-scrollbar-track {
  width: 6px;
  background-color:#ffffff;
  /* -webkit-border-radius: 2em;
  -moz-border-radius: 2em; */
  /* border-radius:2em; */
}
::-webkit-scrollbar-thumb {
  background-color:rgb(30, 30, 30, 0.3);
  background-clip:padding-box;
  min-height:28px;
  /* -webkit-border-radius: 2em;
  -moz-border-radius: 2em; */
  /* border-radius:2em; */
}
blockquote {
  display: block;
  font-size: 100%;
  line-height: 1.5;
  margin: 10px 0;
  padding: 10px;
  background-color: #f5f2f0;
  border-left:8px solid #b4d5ff;
}
.content{
  letter-spacing: 1px;
}
.content h1{
  line-height: 40px;
}
.content h2{
  line-height: 32px;
}
.content h3 h4 h5 h6 h7 h8 p{
  line-height: 28px;
}